@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-pretendard: var(--font-pretendard);
}

@theme {
  /* blue */
  --color-ck-blue-900: #071c3a;
  --color-ck-blue-800: #053164;
  --color-ck-blue-700: #00488f;
  --color-ck-blue-600: #015fba;
  --color-ck-blue-500: #2388ff;
  --color-ck-blue-400: #4c92ff;
  --color-ck-blue-300: #86abff;
  --color-ck-blue-200: #b3c6fd;
  --color-ck-blue-100: #dbe2fb;

  /* red */
  --color-ck-red-900: #82181a;
  --color-ck-red-800: #9f0712;
  --color-ck-red-700: #c10007;
  --color-ck-red-600: #e7000b;
  --color-ck-red-500: #fb2c36;
  --color-ck-red-400: #ff6467;
  --color-ck-red-300: #ffa2a2;
  --color-ck-red-200: #ffc9c9;
  --color-ck-red-100: #ffe2e2;

  /* grayscale */
  --color-ck-gray-900: #1e1e1e;
  --color-ck-gray-800: #3c3c3c;
  --color-ck-gray-700: #646464;
  --color-ck-gray-600: #8e8e8e;
  --color-ck-gray-500: #bebebe;
  --color-ck-gray-400: #e1e1e1;
  --color-ck-gray-300: #e8e8e8;
  --color-ck-gray-200: #f6f6f6;
  --color-ck-gray-100: #f7f8fb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.6358 0.19806 256.0176);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: ck-red-500;
  --chart-2: ck-red-300;
  --chart-3: ck-blue-500;
  --chart-4: ck-blue-300;
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.235 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: hsl(12, 100%, 60%);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: ck-red-500;
  --chart-2: ck-red-300;
  --chart-3: ck-blue-500;
  --chart-4: ck-blue-300;
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer components {
  /* Headline */
  .ck-headline-0 {
    font-size: 29px;
    line-height: 36px;
    letter-spacing: -0.032rem;
  }
  .ck-headline-1 {
    font-size: 25px;
    line-height: 32px;
    letter-spacing: -0.024rem;
    font-weight: bold;
  }
  .ck-headline-2 {
    font-size: 23px;
    line-height: 30px;
    letter-spacing: -0.014rem;
    font-weight: bold;
  }
  .ck-headline-3 {
    font-size: 21px;
    line-height: 28px;
    letter-spacing: -0.007rem;
    font-weight: bold;
  }

  /* Title */
  .ck-title {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0;
    font-weight: 600;
  }

  /* Sub-title */
  .ck-sub-title-1 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 600;
  }
  .ck-sub-title-2 {
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0;
  }

  /* Body */
  .ck-body-1 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
  }
  .ck-body-1-bold {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: bold;
  }
  .ck-body-2 {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.007rem;
  }
  .ck-body-2-bold {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.007rem;
    font-weight: bold;
  }

  /* Caption */
  .ck-caption-1 {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.013rem;
  }
  .ck-caption-1-bold {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.013rem;
    font-weight: bold;
  }
  .ck-caption-2 {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.018rem;
  }
  .ck-caption-2-bold {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.018rem;
    font-weight: bold;
  }
  .ck-caption-3 {
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 0;
  }
}

@layer utilities {
  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
